/* Reset styles */
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Sixtyfour&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Rubik+Lines&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Rubik+Glitch&family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: Funkrocker;
    src: url("../fonts/funkrocker/Funkrocker.otf");
}

@font-face {
    font-family: Mustasurma;
    src: url("../fonts/mustasurma/Mustasurma.ttf");
}

@font-face {
    font-family: shinAkibapunx;
    src: url("../fonts/shin-akiba/shinAkibapunx.ttf");
}

@font-face {
    font-family: Punktype;
    src: url("../fonts/punktype/Punktype.ttf");
}

@font-face {
    font-family: coldnightforalligators;
    src: url("../fonts/cold-night-for-alligators/coldnightforalligators.ttf");
}

@font-face {
    font-family: Vtks Money2;
    src: url("../fonts/vtks-money-2/Vtks\ Money2.ttf");
}

@font-face {
    font-family: Cybrpnuk2;
    src: url("../fonts/cyberpnuk2/Cybrpnuk2.ttf");
}

@font-face {
    font-family: RUSTED PERSONAL USE;
    src: url("../fonts/rusted-personal-use/RUSTED\ PERSONAL\ USE.ttf");
}

@font-face {
    font-family: Anarchaos;
    src: url("../fonts/anarchaos/Anarchaos.otf");
}

@font-face {
    font-family: ASGORE;
    src: url("../fonts/asgore/ASGORE.otf");
}

@font-face {
    font-family: vVWweRraType;
    src: url("../fonts/vvwwerratype/vVWweRraType!.ttf");
}

.sixtyfour {

    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 400;*/
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;

}

.workbench {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 400;*/
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

.protest-guerrilla-regular {

    font-family: "Protest Guerrilla", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.rubik-lines-regular {
    font-family: "Rubik Lines", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.rubik-broken-fax-regular {
    font-family: "Rubik Broken Fax", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.rubik-glitch-regular {
    font-family: "Rubik Glitch", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.aboreto-regular {
    font-family: "Aboreto", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.rubik-maze-regular {
    font-family: "Rubik Maze", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.libre-barcode-39-extended-text-regular {
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.libre-barcode-39-text-regular {
    font-family: "Libre Barcode 39 Text", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.allerta-stencil-regular {
    font-family: "Allerta Stencil", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.Funkrocker {
    font-family: "Funkrocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

.Mustasurma {
    font-family: "Mustasurma", system-ui;
    /*font-weight: 400;*/
    font-style: normal;
}

.shinAkibapunx {
    font-family: "shinAkibapunx", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

.Punktype {
    font-family: "Punktype", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

.coldnightforalligators {
    font-family: "coldnightforalligators", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

.Vtks_Money2 {
    font-family: "Vtks Money2", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

.Cybrpnuk2 {
    font-family: "Cybrpnuk2", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

.RUSTED {
    font-family: "RUSTED PERSONAL USE", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

.Anarchaos {
    font-family: "Anarchaos", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

.ASGORE {
    font-family: "ASGORE", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

.vVWweRraType {
    font-family: "vVWweRraType", system-ui;
    /*/*font-weight: 400;*/
    font-style: normal;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Sixtyfour', serif;

    background-image: url('../imgs/b.jpg');
    background-size: cover;
    /* Per far sì che l'immagine copra l'intera area */
    background-position: center;
    /* Per centrare l'immagine */
}

/* Per aggiungere un'immagine di sfondo a una specifica sezione */
.sezione-con-immagine-di-sfondo {
    background-image: url('percorso_dell_immagine.jpg');
    background-size: cover;
    background-position: center;
}

header h1 {
    font-family: 'Black Metal Logo', cursive;
    font-size: 48px;
    text-align: center;
    margin: 0;
}

nav ul li a {
    font-family: 'Gothic', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    color: #666;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    color: #666;
}

h2,
h3 {
    font-family: 'Old English', cursive;
}

.container {
    padding: 20px 0;
}

.plugin-card {
    
    border: 2px solid #666;
    /* Definisci lo spessore e il colore del bordo */
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 15px #666;
    /* Aggiungi un'ombra per creare profondità */
    background-color: #333;

}

.plugin-card h3 {
    font-family: 'Frankenweenie', cursive;
    font-size: 24px;
}

.plugin-card p {
    font-size: 18px;
}

.plugin-card img {
    max-width: 100%;
    /* Imposta la larghezza massima dell'immagine al 100% della larghezza del contenitore */
    height: auto;
    /* Assicura che l'altezza dell'immagine si adatti proporzionalmente alla larghezza */
}

footer {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}